@import "tailwindcss";

@theme {
  --color-brand-gold: #9d7c1d;
  --color-brand-gold-light: #bda043;
  --color-brand-gold-dark: #7a5f11;
  --color-brand-purple: #46147d;
  --color-brand-purple-light: #a45ad1;
  --color-brand-purple-pale: #eedef2;
  --color-brand-dark: #faf8f5;
  --color-brand-dark-deep: #f3ede2;
  --color-brand-warm: #9e755a;
  --color-brand-orange: #b0622c;
}
